<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Tau</key>
		<dict>
			<key>public.kern2.GRK_IOTA_ACC_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>Xi</key>
		<dict>
			<key>public.kern2.GRK_IOTA_ACC_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>lcaron.a</key>
		<dict>
			<key>backslash</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_ALT_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_U_LC_RIGHT</key>
			<integer>0</integer>
			<key>slash</key>
			<integer>0</integer>
		</dict>
		<key>period</key>
		<dict>
			<key>public.kern2.CYR_JE_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_EPSILON_UC_LEFT</key>
		<dict>
			<key>iotadieresis</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_GAMMA_UC_LEFT</key>
		<dict>
			<key>iotadieresis</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_UPSILON_UC_LEFT</key>
		<dict>
			<key>iotadieresis</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_ZETA_UC_LEFT</key>
		<dict>
			<key>iotadieresis</key>
			<integer>0</integer>
		</dict>
		<key>semicolon</key>
		<dict>
			<key>public.kern2.CYR_JE_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
	</dict>
</plist>
