<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>@MMK_L_AALT_LC_LEFT</key>
		<dict>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-70</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-80</integer>
		</dict>
		<key>@MMK_L_A_LC_LEFT</key>
		<dict>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-100</integer>
		</dict>
		<key>@MMK_L_A_UC</key>
		<dict>
			<key>@MMK_R_F_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_J_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-24</integer>
			<key>@MMK_R_QUOTE</key>
			<integer>-100</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>-90</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-120</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-16</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-70</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>-120</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>periodcentered</key>
			<integer>-40</integer>
			<key>question</key>
			<integer>-100</integer>
			<key>registered</key>
			<integer>-100</integer>
			<key>trademark</key>
			<integer>-100</integer>
		</dict>
		<key>@MMK_L_B_UC_LEFT</key>
		<dict>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-100</integer>
			<key>periodcentered</key>
			<integer>-20</integer>
			<key>trademark</key>
			<integer>-30</integer>
		</dict>
		<key>@MMK_L_COLON</key>
		<dict>
			<key>@MMK_R_J_LC</key>
			<integer>10</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>-40</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-60</integer>
		</dict>
		<key>@MMK_L_C_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_DASH</key>
			<integer>-30</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>periodcentered</key>
			<integer>-10</integer>
		</dict>
		<key>@MMK_L_C_UC_LEFT</key>
		<dict>
			<key>@MMK_R_DASH</key>
			<integer>-100</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-40</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-25</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-100</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-10</integer>
			<key>periodcentered</key>
			<integer>-70</integer>
			<key>trademark</key>
			<integer>30</integer>
		</dict>
		<key>@MMK_L_DASH</key>
		<dict>
			<key>@MMK_R_V_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-90</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_E_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-30</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-70</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-90</integer>
			<key>backslash</key>
			<integer>-10</integer>
			<key>periodcentered</key>
			<integer>-40</integer>
			<key>registered</key>
			<integer>-70</integer>
			<key>trademark</key>
			<integer>-40</integer>
		</dict>
		<key>@MMK_L_F_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_DASH</key>
			<integer>-10</integer>
			<key>@MMK_R_PAREN_RIGHT</key>
			<integer>40</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-100</integer>
			<key>@MMK_R_QUOTE</key>
			<integer>40</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>20</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>20</integer>
			<key>@MMK_R_T_UC</key>
			<integer>50</integer>
			<key>@MMK_R_V_UC</key>
			<integer>50</integer>
			<key>@MMK_R_W_UC</key>
			<integer>50</integer>
			<key>@MMK_R_X_UC</key>
			<integer>40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>50</integer>
			<key>backslash</key>
			<integer>80</integer>
			<key>exclam</key>
			<integer>30</integer>
			<key>question</key>
			<integer>30</integer>
			<key>registered</key>
			<integer>50</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>trademark</key>
			<integer>80</integer>
		</dict>
		<key>@MMK_L_F_UC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-46</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-20</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-140</integer>
			<key>@MMK_R_N_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-80</integer>
			<key>@MMK_R_S_LC</key>
			<integer>-15</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-16</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-20</integer>
			<key>periodcentered</key>
			<integer>-10</integer>
			<key>registered</key>
			<integer>30</integer>
			<key>slash</key>
			<integer>-80</integer>
			<key>trademark</key>
			<integer>30</integer>
		</dict>
		<key>@MMK_L_GERMANDBLS_LC_LEFT</key>
		<dict>
			<key>@MMK_R_QUOTE</key>
			<integer>-100</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>-80</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-120</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-25</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-15</integer>
			<key>@MMK_R_X_LC</key>
			<integer>10</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-30</integer>
			<key>backslash</key>
			<integer>-20</integer>
			<key>question</key>
			<integer>-40</integer>
			<key>registered</key>
			<integer>-80</integer>
		</dict>
		<key>@MMK_L_GERMANDBLS_UC</key>
		<dict>
			<key>asterisk</key>
			<integer>-60</integer>
			<key>trademark</key>
			<integer>-100</integer>
		</dict>
		<key>@MMK_L_GUILLEFT</key>
		<dict>
			<key>@MMK_R_T_UC</key>
			<integer>-90</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-80</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_GUILRIGHT</key>
		<dict>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-80</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-80</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_G_LC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>50</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-20</integer>
			<key>periodcentered</key>
			<integer>-10</integer>
			<key>slash</key>
			<integer>60</integer>
		</dict>
		<key>@MMK_L_G_UC_LEFT</key>
		<dict>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>-40</integer>
			<key>registered</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_HBAR_UC</key>
		<dict>
			<key>registered</key>
			<integer>30</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>trademark</key>
			<integer>10</integer>
		</dict>
		<key>@MMK_L_H_LC_LEFT</key>
		<dict>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-80</integer>
			<key>trademark</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_J_UC_LEFT</key>
		<dict>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_K_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_DASH</key>
			<integer>-60</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-40</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-60</integer>
			<key>periodcentered</key>
			<integer>-20</integer>
			<key>registered</key>
			<integer>-10</integer>
			<key>trademark</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_K_UC_LEFT</key>
		<dict>
			<key>@MMK_R_DASH</key>
			<integer>-70</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-100</integer>
			<key>@MMK_R_J_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_QUOTE</key>
			<integer>-100</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-20</integer>
			<key>periodcentered</key>
			<integer>-80</integer>
			<key>registered</key>
			<integer>-30</integer>
			<key>trademark</key>
			<integer>-10</integer>
		</dict>
		<key>@MMK_L_LCARON_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-20</integer>
			<key>backslash</key>
			<integer>60</integer>
			<key>slash</key>
			<integer>-10</integer>
		</dict>
		<key>@MMK_L_LCARON_UC_LEFT</key>
		<dict>
			<key>@MMK_R_QUOTE</key>
			<integer>-60</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>asterisk</key>
			<integer>-60</integer>
		</dict>
		<key>@MMK_L_L_UC_LEFT</key>
		<dict>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_DASH</key>
			<integer>-80</integer>
			<key>@MMK_R_F_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-40</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-70</integer>
			<key>@MMK_R_QUOTE</key>
			<integer>-180</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>-140</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-140</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-35</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-120</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-70</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-80</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-100</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-60</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-110</integer>
			<key>asterisk</key>
			<integer>-180</integer>
			<key>backslash</key>
			<integer>-100</integer>
			<key>periodcentered</key>
			<integer>-140</integer>
			<key>question</key>
			<integer>-60</integer>
			<key>registered</key>
			<integer>-140</integer>
			<key>trademark</key>
			<integer>-160</integer>
		</dict>
		<key>@MMK_L_OHORN_LC_LEFT</key>
		<dict>
			<key>backslash</key>
			<integer>20</integer>
		</dict>
		<key>@MMK_L_OHORN_UC_LEFT</key>
		<dict>
			<key>registered</key>
			<integer>10</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>trademark</key>
			<integer>10</integer>
		</dict>
		<key>@MMK_L_O_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_DASH</key>
			<integer>20</integer>
			<key>@MMK_R_PAREN_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-10</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>-40</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-70</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-20</integer>
			<key>backslash</key>
			<integer>-40</integer>
		</dict>
		<key>@MMK_L_O_UC_LEFT</key>
		<dict>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>-60</integer>
			<key>registered</key>
			<integer>-10</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>trademark</key>
			<integer>-30</integer>
		</dict>
		<key>@MMK_L_PAREN_LEFT</key>
		<dict>
			<key>@MMK_R_J_LC</key>
			<integer>60</integer>
		</dict>
		<key>@MMK_L_PUNCT</key>
		<dict>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>50</integer>
			<key>@MMK_R_QUOTE</key>
			<integer>-160</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>-140</integer>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-160</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-120</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-60</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-90</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-25</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-90</integer>
			<key>asterisk</key>
			<integer>-180</integer>
		</dict>
		<key>@MMK_L_P_UC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_DASH</key>
			<integer>-10</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-130</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-160</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-100</integer>
			<key>slash</key>
			<integer>-100</integer>
		</dict>
		<key>@MMK_L_QUOTE</key>
		<dict>
			<key>@MMK_R_A_UC</key>
			<integer>-80</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-140</integer>
			<key>@MMK_R_S_LC</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_QUOTEBASE</key>
		<dict>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>50</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-120</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-60</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-90</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-25</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-90</integer>
			<key>asterisk</key>
			<integer>-180</integer>
		</dict>
		<key>@MMK_L_QUOTELEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-90</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-120</integer>
			<key>exclamdown</key>
			<integer>-60</integer>
			<key>questiondown</key>
			<integer>-140</integer>
		</dict>
		<key>@MMK_L_QUOTERIGHT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-90</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-160</integer>
			<key>@MMK_R_S_LC</key>
			<integer>-40</integer>
		</dict>
		<key>@MMK_L_R_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_DASH</key>
			<integer>-20</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-20</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-70</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>20</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-20</integer>
			<key>backslash</key>
			<integer>20</integer>
			<key>registered</key>
			<integer>20</integer>
			<key>slash</key>
			<integer>-40</integer>
		</dict>
		<key>@MMK_L_R_UC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_DASH</key>
			<integer>-40</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-30</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-14</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_S_LC</key>
		<dict>
			<key>@MMK_R_DASH</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-60</integer>
		</dict>
		<key>@MMK_L_S_UC</key>
		<dict>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-30</integer>
			<key>periodcentered</key>
			<integer>-10</integer>
		</dict>
		<key>@MMK_L_THORN_UC_LEFT</key>
		<dict>
			<key>asterisk</key>
			<integer>-60</integer>
			<key>backslash</key>
			<integer>-40</integer>
			<key>slash</key>
			<integer>-40</integer>
			<key>trademark</key>
			<integer>-60</integer>
		</dict>
		<key>@MMK_L_T_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-14</integer>
			<key>@MMK_R_COLON</key>
			<integer>20</integer>
			<key>@MMK_R_DASH</key>
			<integer>-40</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-20</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-10</integer>
			<key>periodcentered</key>
			<integer>-20</integer>
			<key>registered</key>
			<integer>20</integer>
			<key>slash</key>
			<integer>20</integer>
		</dict>
		<key>@MMK_L_T_UC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_COLON</key>
			<integer>-100</integer>
			<key>@MMK_R_DASH</key>
			<integer>-100</integer>
			<key>@MMK_R_F_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-70</integer>
			<key>@MMK_R_GUILRIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-60</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-120</integer>
			<key>@MMK_R_N_LC_RIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-120</integer>
			<key>@MMK_R_S_LC</key>
			<integer>-60</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-100</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-40</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-40</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-40</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-100</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-40</integer>
			<key>periodcentered</key>
			<integer>-60</integer>
			<key>registered</key>
			<integer>30</integer>
			<key>slash</key>
			<integer>-80</integer>
			<key>trademark</key>
			<integer>40</integer>
		</dict>
		<key>@MMK_L_UHORN_LC_LEFT</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_F_LC_RIGHT</key>
			<integer>20</integer>
			<key>@MMK_R_J_LC</key>
			<integer>10</integer>
			<key>@MMK_R_PAREN_RIGHT</key>
			<integer>30</integer>
			<key>@MMK_R_QUOTE</key>
			<integer>40</integer>
			<key>@MMK_R_QUOTELEFT</key>
			<integer>20</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>30</integer>
			<key>@MMK_R_V_LC</key>
			<integer>20</integer>
			<key>@MMK_R_W_LC</key>
			<integer>20</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>20</integer>
			<key>backslash</key>
			<integer>40</integer>
			<key>registered</key>
			<integer>60</integer>
		</dict>
		<key>@MMK_L_UHORN_UC_LEFT</key>
		<dict>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>asterisk</key>
			<integer>30</integer>
			<key>backslash</key>
			<integer>60</integer>
			<key>registered</key>
			<integer>60</integer>
			<key>slash</key>
			<integer>-40</integer>
			<key>trademark</key>
			<integer>80</integer>
		</dict>
		<key>@MMK_L_U_UC_LEFT</key>
		<dict>
			<key>@MMK_R_A_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-10</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>slash</key>
			<integer>-40</integer>
		</dict>
		<key>@MMK_L_V_LC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_J_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-60</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-20</integer>
			<key>asterisk</key>
			<integer>-20</integer>
			<key>slash</key>
			<integer>-20</integer>
			<key>trademark</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_V_UC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-100</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_DASH</key>
			<integer>-100</integer>
			<key>@MMK_R_F_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-70</integer>
			<key>@MMK_R_GUILRIGHT</key>
			<integer>-70</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-90</integer>
			<key>@MMK_R_N_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-90</integer>
			<key>@MMK_R_S_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-40</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-100</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-20</integer>
			<key>periodcentered</key>
			<integer>-20</integer>
			<key>registered</key>
			<integer>30</integer>
			<key>slash</key>
			<integer>-60</integer>
			<key>trademark</key>
			<integer>30</integer>
		</dict>
		<key>@MMK_L_W_LC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-40</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-20</integer>
			<key>asterisk</key>
			<integer>-30</integer>
			<key>slash</key>
			<integer>-10</integer>
			<key>trademark</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_W_UC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-30</integer>
			<key>@MMK_R_GUILRIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-100</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-100</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-10</integer>
			<key>registered</key>
			<integer>20</integer>
			<key>slash</key>
			<integer>-40</integer>
			<key>trademark</key>
			<integer>30</integer>
		</dict>
		<key>@MMK_L_X_LC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_DASH</key>
			<integer>-40</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-20</integer>
			<key>@MMK_R_GUILRIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>asterisk</key>
			<integer>-40</integer>
			<key>periodcentered</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_X_UC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-25</integer>
			<key>@MMK_R_DASH</key>
			<integer>-100</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-40</integer>
			<key>@MMK_R_GUILRIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-20</integer>
			<key>asterisk</key>
			<integer>10</integer>
			<key>periodcentered</key>
			<integer>-100</integer>
			<key>registered</key>
			<integer>40</integer>
			<key>trademark</key>
			<integer>50</integer>
		</dict>
		<key>@MMK_L_Y_LC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-60</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-10</integer>
			<key>slash</key>
			<integer>-20</integer>
		</dict>
		<key>@MMK_L_Y_UC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-60</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_COLON</key>
			<integer>-20</integer>
			<key>@MMK_R_DASH</key>
			<integer>-80</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-80</integer>
			<key>@MMK_R_GUILRIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-60</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-100</integer>
			<key>@MMK_R_N_LC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_PUNCT</key>
			<integer>-100</integer>
			<key>@MMK_R_S_LC</key>
			<integer>-100</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Z_LC</key>
			<integer>-70</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-30</integer>
			<key>periodcentered</key>
			<integer>-40</integer>
			<key>registered</key>
			<integer>30</integer>
			<key>slash</key>
			<integer>-80</integer>
			<key>trademark</key>
			<integer>30</integer>
		</dict>
		<key>@MMK_L_Z_LC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_DASH</key>
			<integer>-10</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-30</integer>
			<key>periodcentered</key>
			<integer>-10</integer>
		</dict>
		<key>@MMK_L_Z_UC</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-15</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-25</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_DASH</key>
			<integer>-100</integer>
			<key>@MMK_R_GUILLEFT</key>
			<integer>-70</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-15</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-30</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-35</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-10</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>-30</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-10</integer>
			<key>periodcentered</key>
			<integer>-60</integer>
			<key>registered</key>
			<integer>10</integer>
			<key>trademark</key>
			<integer>30</integer>
		</dict>
		<key>Euro</key>
		<dict>
			<key>eight.onum</key>
			<integer>-10</integer>
			<key>eight.pnum</key>
			<integer>-10</integer>
			<key>five.onum</key>
			<integer>20</integer>
			<key>five.pnum</key>
			<integer>20</integer>
			<key>four.onum</key>
			<integer>20</integer>
			<key>four.pnum</key>
			<integer>-20</integer>
			<key>one.pnum</key>
			<integer>20</integer>
			<key>six.onum</key>
			<integer>-10</integer>
			<key>six.pnum</key>
			<integer>-10</integer>
			<key>three.onum</key>
			<integer>20</integer>
			<key>three.pnum</key>
			<integer>20</integer>
			<key>two.onum</key>
			<integer>20</integer>
			<key>two.pnum</key>
			<integer>40</integer>
			<key>zero.onum</key>
			<integer>-10</integer>
			<key>zero.pnum</key>
			<integer>-10</integer>
		</dict>
		<key>backslash</key>
		<dict>
			<key>@MMK_R_ETH_UC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_G_LC</key>
			<integer>40</integer>
			<key>@MMK_R_HBAR_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_J_LC</key>
			<integer>100</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_V_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_W_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_LC</key>
			<integer>20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-80</integer>
		</dict>
		<key>dollar</key>
		<dict>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>nine.onum</key>
			<integer>-30</integer>
			<key>nine.pnum</key>
			<integer>-20</integer>
			<key>one.onum</key>
			<integer>-20</integer>
			<key>seven.onum</key>
			<integer>-40</integer>
			<key>seven.pnum</key>
			<integer>-40</integer>
			<key>six.pnum</key>
			<integer>-10</integer>
			<key>three.onum</key>
			<integer>-10</integer>
		</dict>
		<key>eight.onum</key>
		<dict>
			<key>cent</key>
			<integer>-10</integer>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>nine.onum</key>
			<integer>-10</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
			<key>three.onum</key>
			<integer>-10</integer>
		</dict>
		<key>eight.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-10</integer>
			<key>five.pnum</key>
			<integer>10</integer>
			<key>nine.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-30</integer>
			<key>three.pnum</key>
			<integer>10</integer>
		</dict>
		<key>exclam</key>
		<dict>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-60</integer>
		</dict>
		<key>exclamdown</key>
		<dict>
			<key>@MMK_R_J_LC</key>
			<integer>50</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-60</integer>
		</dict>
		<key>five.onum</key>
		<dict>
			<key>cent</key>
			<integer>-20</integer>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>nine.onum</key>
			<integer>-10</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
			<key>three.onum</key>
			<integer>-10</integer>
			<key>zero.onum</key>
			<integer>-10</integer>
		</dict>
		<key>five.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-20</integer>
			<key>nine.pnum</key>
			<integer>-20</integer>
			<key>one.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-40</integer>
		</dict>
		<key>four.onum</key>
		<dict>
			<key>cent</key>
			<integer>-20</integer>
			<key>nine.onum</key>
			<integer>-10</integer>
			<key>one.onum</key>
			<integer>-10</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
		</dict>
		<key>four.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-20</integer>
			<key>five.pnum</key>
			<integer>-10</integer>
			<key>nine.pnum</key>
			<integer>-20</integer>
			<key>one.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-20</integer>
			<key>three.pnum</key>
			<integer>-10</integer>
		</dict>
		<key>lcaron.a</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-20</integer>
			<key>backslash</key>
			<integer>60</integer>
			<key>slash</key>
			<integer>-10</integer>
		</dict>
		<key>nine.onum</key>
		<dict>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>one.onum</key>
			<integer>-10</integer>
			<key>seven.onum</key>
			<integer>-30</integer>
			<key>three.onum</key>
			<integer>-10</integer>
			<key>two.onum</key>
			<integer>-10</integer>
		</dict>
		<key>nine.pnum</key>
		<dict>
			<key>five.pnum</key>
			<integer>-10</integer>
			<key>one.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-30</integer>
			<key>three.pnum</key>
			<integer>-10</integer>
			<key>two.pnum</key>
			<integer>-10</integer>
		</dict>
		<key>one.onum</key>
		<dict>
			<key>seven.onum</key>
			<integer>-10</integer>
		</dict>
		<key>one.pnum</key>
		<dict>
			<key>five.pnum</key>
			<integer>-10</integer>
			<key>four.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-10</integer>
			<key>three.pnum</key>
			<integer>-10</integer>
		</dict>
		<key>period</key>
		<dict>
			<key>@MMK_R_J_LC</key>
			<integer>3</integer>
		</dict>
		<key>periodcentered</key>
		<dict>
			<key>@MMK_R_A_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-80</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-20</integer>
			<key>@MMK_R_X_LC</key>
			<integer>-20</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-70</integer>
			<key>@MMK_R_Z_UC</key>
			<integer>-40</integer>
		</dict>
		<key>question</key>
		<dict>
			<key>@MMK_R_QUOTERIGHT</key>
			<integer>-10</integer>
		</dict>
		<key>questiondown</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-30</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_F_LC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_J_LC</key>
			<integer>70</integer>
			<key>@MMK_R_O_UC_RIGHT</key>
			<integer>-40</integer>
			<key>@MMK_R_S_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_T_UC</key>
			<integer>-100</integer>
			<key>@MMK_R_U_UC_RIGHT</key>
			<integer>-100</integer>
			<key>@MMK_R_V_UC</key>
			<integer>-60</integer>
			<key>@MMK_R_W_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_X_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_Y_UC</key>
			<integer>-80</integer>
		</dict>
		<key>semicolon</key>
		<dict>
			<key>@MMK_R_J_LC</key>
			<integer>50</integer>
		</dict>
		<key>seven.onum</key>
		<dict>
			<key>cent</key>
			<integer>-10</integer>
			<key>eight.onum</key>
			<integer>-20</integer>
			<key>five.onum</key>
			<integer>-20</integer>
			<key>four.onum</key>
			<integer>-30</integer>
			<key>seven.onum</key>
			<integer>-10</integer>
			<key>six.onum</key>
			<integer>-10</integer>
			<key>three.onum</key>
			<integer>-20</integer>
			<key>two.onum</key>
			<integer>-20</integer>
			<key>zero.onum</key>
			<integer>-10</integer>
		</dict>
		<key>seven.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-30</integer>
			<key>eight.pnum</key>
			<integer>-20</integer>
			<key>five.pnum</key>
			<integer>-20</integer>
			<key>four.pnum</key>
			<integer>-40</integer>
			<key>one.pnum</key>
			<integer>10</integer>
			<key>six.pnum</key>
			<integer>-10</integer>
			<key>three.pnum</key>
			<integer>-20</integer>
			<key>two.pnum</key>
			<integer>-10</integer>
			<key>zero.pnum</key>
			<integer>-30</integer>
		</dict>
		<key>six.onum</key>
		<dict>
			<key>cent</key>
			<integer>-20</integer>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>nine.onum</key>
			<integer>-20</integer>
			<key>one.onum</key>
			<integer>-20</integer>
			<key>seven.onum</key>
			<integer>-40</integer>
			<key>three.onum</key>
			<integer>-10</integer>
			<key>two.onum</key>
			<integer>-10</integer>
		</dict>
		<key>six.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-30</integer>
			<key>five.pnum</key>
			<integer>-10</integer>
			<key>nine.pnum</key>
			<integer>-20</integer>
			<key>one.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-20</integer>
			<key>three.pnum</key>
			<integer>-10</integer>
		</dict>
		<key>slash</key>
		<dict>
			<key>@MMK_R_AALT_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_LC_RIGHT</key>
			<integer>-20</integer>
			<key>@MMK_R_A_UC</key>
			<integer>-40</integer>
			<key>@MMK_R_G_LC</key>
			<integer>-10</integer>
			<key>@MMK_R_J_LC</key>
			<integer>60</integer>
			<key>@MMK_R_J_UC_RIGHT</key>
			<integer>-80</integer>
			<key>@MMK_R_SCHWA_UC_RIGHT</key>
			<integer>-10</integer>
			<key>@MMK_R_T_LC_RIGHT</key>
			<integer>20</integer>
			<key>@MMK_R_U_LC_RIGHT</key>
			<integer>-20</integer>
		</dict>
		<key>sterling</key>
		<dict>
			<key>eight.pnum</key>
			<integer>-10</integer>
			<key>four.pnum</key>
			<integer>-30</integer>
			<key>seven.onum</key>
			<integer>-10</integer>
			<key>six.onum</key>
			<integer>-20</integer>
			<key>six.pnum</key>
			<integer>-20</integer>
			<key>zero.onum</key>
			<integer>-20</integer>
			<key>zero.pnum</key>
			<integer>-10</integer>
		</dict>
		<key>three.onum</key>
		<dict>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
			<key>three.onum</key>
			<integer>-10</integer>
		</dict>
		<key>three.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-10</integer>
			<key>five.pnum</key>
			<integer>10</integer>
			<key>nine.pnum</key>
			<integer>-10</integer>
			<key>one.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-30</integer>
			<key>three.pnum</key>
			<integer>10</integer>
		</dict>
		<key>two.onum</key>
		<dict>
			<key>cent</key>
			<integer>-10</integer>
			<key>eight.onum</key>
			<integer>-20</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
		</dict>
		<key>two.pnum</key>
		<dict>
			<key>cent</key>
			<integer>-10</integer>
			<key>eight.pnum</key>
			<integer>-10</integer>
			<key>four.pnum</key>
			<integer>-10</integer>
			<key>nine.pnum</key>
			<integer>-10</integer>
			<key>seven.pnum</key>
			<integer>-30</integer>
		</dict>
		<key>yen</key>
		<dict>
			<key>four.pnum</key>
			<integer>10</integer>
			<key>one.pnum</key>
			<integer>20</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
			<key>three.onum</key>
			<integer>-10</integer>
			<key>two.pnum</key>
			<integer>10</integer>
		</dict>
		<key>zero.onum</key>
		<dict>
			<key>five.onum</key>
			<integer>-10</integer>
			<key>one.onum</key>
			<integer>-10</integer>
			<key>seven.onum</key>
			<integer>-20</integer>
			<key>three.onum</key>
			<integer>-10</integer>
		</dict>
		<key>zero.pnum</key>
		<dict>
			<key>seven.pnum</key>
			<integer>-30</integer>
		</dict>
	</dict>
</plist>
