<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>a.a</key>
		<string>a.a.glif</string>
		<key>aogonek.a</key>
		<string>aogonek.a.glif</string>
		<key>aogonek.e</key>
		<string>aogonek.e.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.d</key>
		<string>eogonek.d.glif</string>
		<key>eogonek.sups</key>
		<string>eogonek.sups.glif</string>
		<key>rsmall</key>
		<string>rsmall.glif</string>
		<key>rsmallinverted</key>
		<string>rsmallinverted.glif</string>
	</dict>
</plist>
