*.vfb
*.pfa
Roman/Black/font.ufo/data
Roman/Black/font.ufo/glyphs.com.adobe.type.processedGlyphs
Roman/Bold/font.ufo/data
Roman/Bold/font.ufo/glyphs.com.adobe.type.processedGlyphs
Roman/ExtraLight/font.ufo/data
Roman/ExtraLight/font.ufo/glyphs.com.adobe.type.processedGlyphs
Roman/Light/font.ufo/data
Roman/Light/font.ufo/glyphs.com.adobe.type.processedGlyphs
Roman/Regular/font.ufo/data
Roman/Regular/font.ufo/glyphs.com.adobe.type.processedGlyphs
Roman/Semibold/font.ufo/data
Roman/Semibold/font.ufo/glyphs.com.adobe.type.processedGlyphs
*.otf
*.ttf
RomanMM/x_ufo
