# ignore build folder:
target

# ignore font binaries in master branch:
Source*.otf
Source*.ttf

# ignore processed glyphs & hashmap in masters:
*/*/*/master.ufo/glyphs.com.adobe.type.processedGlyphs
*/*/*/master.ufo/data/com.adobe.type.processedHashMap
*/*/*/master.ufo/layercontents.plist
*~
