<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Fhook</key>
		<string>F_hook.glif</string>
		<key>Fhook.sc</key>
		<string>F_hook.sc.glif</string>
		<key>Khook.sc</key>
		<string>K_hook.sc.glif</string>
		<key>Nhookleft</key>
		<string>N_hookleft.glif</string>
		<key>Nhookleft.sc</key>
		<string>N_hookleft.sc.glif</string>
		<key>khook</key>
		<string>khook.glif</string>
	</dict>
</plist>
