<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Istroke.a</key>
		<string>I_stroke.a.glif</string>
		<key>Istroke.as</key>
		<string>I_stroke.as.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.sc</key>
		<string>L_.sc.glif</string>
		<key>Lje.as</key>
		<string>L_je.as.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>Lslash.sc</key>
		<string>L_slash.sc.glif</string>
		<key>nsmall.sups</key>
		<string>nsmall.sups.glif</string>
	</dict>
</plist>
