<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>Astroke</key>
		<string>A_stroke.glif</string>
		<key>Astroke.sc</key>
		<string>A_stroke.sc.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>C.sc</key>
		<string>C_.sc.glif</string>
		<key>Cstroke</key>
		<string>C_stroke.glif</string>
		<key>Cstroke.sc</key>
		<string>C_stroke.sc.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Gamma.sc</key>
		<string>G_amma.sc.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>I.a</key>
		<string>I_.a.glif</string>
		<key>I.as</key>
		<string>I_.as.glif</string>
		<key>I.sc</key>
		<string>I_.sc.glif</string>
		<key>Istroke</key>
		<string>I_stroke.glif</string>
		<key>Istroke.a</key>
		<string>I_stroke.a.glif</string>
		<key>Istroke.as</key>
		<string>I_stroke.as.glif</string>
		<key>Istroke.sc</key>
		<string>I_stroke.sc.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.sc</key>
		<string>L_.sc.glif</string>
		<key>Lambda.latin</key>
		<string>L_ambda.latin.glif</string>
		<key>Lambda.ls</key>
		<string>L_ambda.ls.glif</string>
		<key>Lambdabar</key>
		<string>L_ambdabar.glif</string>
		<key>Lambdabar.sc</key>
		<string>L_ambdabar.sc.glif</string>
		<key>Lbar</key>
		<string>L_bar.glif</string>
		<key>Lbar.sc</key>
		<string>L_bar.sc.glif</string>
		<key>Lbardbl</key>
		<string>L_bardbl.glif</string>
		<key>Lbardbl.sc</key>
		<string>L_bardbl.sc.glif</string>
		<key>Lbelt</key>
		<string>L_belt.glif</string>
		<key>Lbelt.sc</key>
		<string>L_belt.sc.glif</string>
		<key>Lje.as</key>
		<string>L_je.as.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>Lslash.sc</key>
		<string>L_slash.sc.glif</string>
		<key>O.sc</key>
		<string>O_.sc.glif</string>
		<key>Tstroke</key>
		<string>T_stroke.glif</string>
		<key>Tstroke.sc</key>
		<string>T_stroke.sc.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>U.sc</key>
		<string>U_.sc.glif</string>
		<key>Ubar</key>
		<string>U_bar.glif</string>
		<key>Ubar.sc</key>
		<string>U_bar.sc.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>a.a</key>
		<string>a.a.glif</string>
		<key>astroke</key>
		<string>astroke.glif</string>
		<key>astroke.a</key>
		<string>astroke.a.glif</string>
		<key>astroke.b</key>
		<string>astroke.b.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cstroke</key>
		<string>cstroke.glif</string>
		<key>dje</key>
		<string>dje.glif</string>
		<key>eopenogonek</key>
		<string>eopenogonek.glif</string>
		<key>gsmall</key>
		<string>gsmall.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>lbar</key>
		<string>lbar.glif</string>
		<key>lbar.a</key>
		<string>lbar.a.glif</string>
		<key>lbardbl</key>
		<string>lbardbl.glif</string>
		<key>lbardbl.a</key>
		<string>lbardbl.a.glif</string>
		<key>nsmall.sups</key>
		<string>nsmall.sups.glif</string>
		<key>tstroke</key>
		<string>tstroke.glif</string>
	</dict>
</plist>
