<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>com.typemytype.robofont.compileSettings.autohint</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.checkOutlines</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
		<true/>
		<key>com.typemytype.robofont.compileSettings.decompose</key>
		<false/>
		<key>com.typemytype.robofont.compileSettings.generateFormat</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.compileSettings.releaseMode</key>
		<false/>
		<key>com.typemytype.robofont.foreground.layerStrokeColor</key>
		<array>
			<real>0.5</real>
			<integer>0</integer>
			<real>0.5</real>
			<real>0.7</real>
		</array>
		<key>com.typemytype.robofont.italicSlantOffset</key>
		<integer>0</integer>
		<key>com.typemytype.robofont.layerOrder</key>
		<array>
			<string>mask</string>
		</array>
		<key>com.typemytype.robofont.mask.layerStrokeColor</key>
		<array>
			<integer>1</integer>
			<real>0.75</real>
			<integer>0</integer>
			<real>0.7</real>
		</array>
		<key>com.typemytype.robofont.segmentType</key>
		<string>curve</string>
		<key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
		<integer>1</integer>
		<key>com.typemytype.robofont.sort</key>
		<array>
			<dict>
				<key>ascending</key>
				<array>
					<string>.notdef</string>
					<string>D</string>
					<string>H</string>
					<string>M</string>
					<string>N</string>
					<string>O</string>
					<string>T</string>
					<string>W</string>
					<string>Y</string>
					<string>e</string>
					<string>t</string>
					<string>u</string>
					<string>w</string>
					<string>Bstroke</string>
					<string>Hbar</string>
					<string>Oslash</string>
					<string>Tbar</string>
					<string>Eth</string>
					<string>ae</string>
					<string>bstroke</string>
					<string>dcroat</string>
					<string>eogonek</string>
					<string>eogonek.d</string>
					<string>hbar</string>
					<string>dotlessi</string>
					<string>oslash</string>
					<string>oe</string>
					<string>tbar</string>
					<string>dotlessj</string>
					<string>aturned</string>
					<string>ereversed</string>
					<string>bsmall</string>
					<string>schwa</string>
					<string>schwahookrhotic</string>
					<string>eopen</string>
					<string>eopenreversed</string>
					<string>eopenreversedclosed</string>
					<string>dotlessjstroke</string>
					<string>lbelt</string>
					<string>nsmall</string>
					<string>obar</string>
					<string>oesmall</string>
					<string>rsmall</string>
					<string>rsmallinverted</string>
					<string>esh</string>
					<string>dotlessjstrokehook</string>
					<string>ubar</string>
					<string>zcurl</string>
					<string>glottalstop</string>
					<string>glottalstopreversed</string>
					<string>glottalstopstroke</string>
					<string>glottalstopstrokereversed</string>
					<string>clickalveolar</string>
					<string>clickbilabial</string>
					<string>Eng.a</string>
					<string>a.a</string>
					<string>aturned.b</string>
					<string>l.a</string>
					<string>istroke.x</string>
					<string>Gamma</string>
					<string>epsilon</string>
					<string>theta.a</string>
					<string>Ghe</string>
					<string>Icyr</string>
					<string>Yat</string>
					<string>Ghestroke</string>
					<string>Ustraight</string>
					<string>Ustraightstroke</string>
					<string>ve</string>
					<string>ze</string>
					<string>em</string>
					<string>ecyr</string>
					<string>ya</string>
					<string>dje</string>
					<string>ieukran</string>
					<string>ghestroke</string>
					<string>ustraight</string>
					<string>ustraightstroke</string>
					<string>yi.a</string>
					<string>numero</string>
					<string>zero</string>
					<string>zero.0s</string>
					<string>zero.pnum</string>
					<string>zero.0ps</string>
					<string>at</string>
					<string>at.cap</string>
					<string>numbersign</string>
					<string>M.sups</string>
					<string>N.sups</string>
					<string>W.sups</string>
					<string>e.sups</string>
					<string>w.sups</string>
					<string>eogonek.sups</string>
					<string>schwa.sups</string>
					<string>a.supa</string>
					<string>yen</string>
					<string>Euro</string>
					<string>colonmonetary</string>
					<string>lira</string>
					<string>naira</string>
					<string>won</string>
					<string>dong</string>
					<string>peso</string>
					<string>hryvnia</string>
					<string>rupeeindian</string>
					<string>liraturkish</string>
					<string>tugrik</string>
					<string>tenge</string>
					<string>ruble</string>
				</array>
				<key>type</key>
				<string>glyphList</string>
			</dict>
		</array>
		<key>public.glyphOrder</key>
		<array>
			<string>.notdef</string>
			<string>D</string>
			<string>H</string>
			<string>M</string>
			<string>N</string>
			<string>O</string>
			<string>T</string>
			<string>W</string>
			<string>Y</string>
			<string>e</string>
			<string>t</string>
			<string>u</string>
			<string>w</string>
			<string>Bstroke</string>
			<string>Hbar</string>
			<string>Oslash</string>
			<string>Tbar</string>
			<string>Eth</string>
			<string>ae</string>
			<string>bstroke</string>
			<string>dcroat</string>
			<string>eogonek</string>
			<string>eogonek.d</string>
			<string>hbar</string>
			<string>dotlessi</string>
			<string>oslash</string>
			<string>oe</string>
			<string>tbar</string>
			<string>dotlessj</string>
			<string>aturned</string>
			<string>ereversed</string>
			<string>bsmall</string>
			<string>schwa</string>
			<string>schwahookrhotic</string>
			<string>eopen</string>
			<string>eopenreversed</string>
			<string>eopenreversedclosed</string>
			<string>dotlessjstroke</string>
			<string>lbelt</string>
			<string>nsmall</string>
			<string>obar</string>
			<string>oesmall</string>
			<string>rsmall</string>
			<string>rsmallinverted</string>
			<string>esh</string>
			<string>dotlessjstrokehook</string>
			<string>ubar</string>
			<string>zcurl</string>
			<string>glottalstop</string>
			<string>glottalstopreversed</string>
			<string>glottalstopstroke</string>
			<string>glottalstopstrokereversed</string>
			<string>clickalveolar</string>
			<string>clickbilabial</string>
			<string>Eng.a</string>
			<string>a.a</string>
			<string>aturned.b</string>
			<string>l.a</string>
			<string>istroke.x</string>
			<string>Gamma</string>
			<string>epsilon</string>
			<string>theta.a</string>
			<string>Ghe</string>
			<string>Icyr</string>
			<string>Yat</string>
			<string>Ghestroke</string>
			<string>Ustraight</string>
			<string>Ustraightstroke</string>
			<string>ve</string>
			<string>ze</string>
			<string>em</string>
			<string>ecyr</string>
			<string>ya</string>
			<string>dje</string>
			<string>ieukran</string>
			<string>ghestroke</string>
			<string>ustraight</string>
			<string>ustraightstroke</string>
			<string>yi.a</string>
			<string>numero</string>
			<string>zero</string>
			<string>zero.0s</string>
			<string>zero.pnum</string>
			<string>zero.0ps</string>
			<string>at</string>
			<string>at.cap</string>
			<string>numbersign</string>
			<string>M.sups</string>
			<string>N.sups</string>
			<string>W.sups</string>
			<string>e.sups</string>
			<string>w.sups</string>
			<string>eogonek.sups</string>
			<string>schwa.sups</string>
			<string>a.supa</string>
			<string>yen</string>
			<string>Euro</string>
			<string>colonmonetary</string>
			<string>lira</string>
			<string>naira</string>
			<string>won</string>
			<string>dong</string>
			<string>peso</string>
			<string>hryvnia</string>
			<string>rupeeindian</string>
			<string>liraturkish</string>
			<string>tugrik</string>
			<string>tenge</string>
			<string>ruble</string>
		</array>
	</dict>
</plist>
