<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>E.sc</key>
		<string>E_.sc.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.b</key>
		<string>a.b.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>aogonek.b</key>
		<string>aogonek.b.glif</string>
		<key>aogonek.d</key>
		<string>aogonek.d.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.sups</key>
		<string>e.sups.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.sups</key>
		<string>eogonek.sups.glif</string>
		<key>rsmall</key>
		<string>rsmall.glif</string>
		<key>rsmallinverted</key>
		<string>rsmallinverted.glif</string>
	</dict>
</plist>
