<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kahook</key>
    <string>K_ahook.glif</string>
    <key>Kahook.a</key>
    <string>K_ahook.a.glif</string>
    <key>Kahook.as</key>
    <string>K_ahook.as.glif</string>
    <key>Kahook.sc</key>
    <string>K_ahook.sc.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Lslash.sc</key>
    <string>L_slash.sc.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aogonek.a</key>
    <string>aogonek.a.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>commaturnedmod</key>
    <string>commaturnedmod.glif</string>
    <key>dzcurl</key>
    <string>dzcurl.glif</string>
    <key>dzed</key>
    <string>dzed.glif</string>
    <key>dzretroflex</key>
    <string>dzretroflex.glif</string>
    <key>eogonek.sups</key>
    <string>eogonek.sups.glif</string>
    <key>kahook</key>
    <string>kahook.glif</string>
    <key>kahook.a</key>
    <string>kahook.a.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>lslash.a</key>
    <string>lslash.a.glif</string>
    <key>macronacute</key>
    <string>macronacute.glif</string>
    <key>macronacute.cap</key>
    <string>macronacute.cap.glif</string>
    <key>macrondoublecmb</key>
    <string>macrondoublecmb.glif</string>
    <key>quoteleftheavy</key>
    <string>quoteleftheavy.glif</string>
    <key>quoterightheavy</key>
    <string>quoterightheavy.glif</string>
    <key>ringacute.cap</key>
    <string>ringacute.cap.glif</string>
    <key>ringcmb.cap</key>
    <string>ringcmb.cap.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
  </dict>
</plist>
