<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Dinsular</key>
		<string>D_insular.glif</string>
		<key>Dinsular.sc</key>
		<string>D_insular.sc.glif</string>
		<key>Ettironian</key>
		<string>E_ttironian.glif</string>
		<key>Ettironian.sc</key>
		<string>E_ttironian.sc.glif</string>
		<key>Finsular</key>
		<string>F_insular.glif</string>
		<key>Finsular.sc</key>
		<string>F_insular.sc.glif</string>
		<key>Ginsular</key>
		<string>G_insular.glif</string>
		<key>Ginsular.a</key>
		<string>G_insular.a.glif</string>
		<key>Ginsular.sc</key>
		<string>G_insular.sc.glif</string>
		<key>Kai</key>
		<string>K_ai.glif</string>
		<key>Kai.sc</key>
		<string>K_ai.sc.glif</string>
		<key>Rinsular</key>
		<string>R_insular.glif</string>
		<key>Rinsular.sc</key>
		<string>R_insular.sc.glif</string>
		<key>Rrotunda</key>
		<string>R_rotunda.glif</string>
		<key>Rrotunda.sc</key>
		<string>R_rotunda.sc.glif</string>
		<key>Sinsular</key>
		<string>S_insular.glif</string>
		<key>Sinsular.sc</key>
		<string>S_insular.sc.glif</string>
		<key>Tinsular</key>
		<string>T_insular.glif</string>
		<key>Tinsular.sc</key>
		<string>T_insular.sc.glif</string>
		<key>Wynn</key>
		<string>W_ynn.glif</string>
		<key>dinsular</key>
		<string>dinsular.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>ettironian</key>
		<string>ettironian.glif</string>
		<key>finsular</key>
		<string>finsular.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>ginsular</key>
		<string>ginsular.glif</string>
		<key>ginsularturned</key>
		<string>ginsularturned.glif</string>
		<key>rinsular</key>
		<string>rinsular.glif</string>
		<key>rrotunda</key>
		<string>rrotunda.glif</string>
		<key>sinsular</key>
		<string>sinsular.glif</string>
		<key>tinsular</key>
		<string>tinsular.glif</string>
		<key>wynn</key>
		<string>wynn.glif</string>
	</dict>
</plist>
