<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lbelt</key>
		<string>L_belt.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
	</dict>
</plist>
