<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>A</key>
		<string>A_.glif</string>
		<key>Astroke</key>
		<string>A_stroke.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Cstroke</key>
		<string>C_stroke.glif</string>
		<key>Ghe</key>
		<string>G_he.glif</string>
		<key>I.a</key>
		<string>I_.a.glif</string>
		<key>Istroke</key>
		<string>I_stroke.glif</string>
		<key>Istroke.a</key>
		<string>I_stroke.a.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lambda.latin</key>
		<string>L_ambda.latin.glif</string>
		<key>Lambdabar</key>
		<string>L_ambdabar.glif</string>
		<key>Lbar</key>
		<string>L_bar.glif</string>
		<key>Lbardbl</key>
		<string>L_bardbl.glif</string>
		<key>Lbelt</key>
		<string>L_belt.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>Tbar</key>
		<string>T_bar.glif</string>
		<key>Tstroke</key>
		<string>T_stroke.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Ubar</key>
		<string>U_bar.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.a</key>
		<string>a.a.glif</string>
		<key>a.b</key>
		<string>a.b.glif</string>
		<key>astroke</key>
		<string>astroke.glif</string>
		<key>astroke.a</key>
		<string>astroke.a.glif</string>
		<key>astroke.b</key>
		<string>astroke.b.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cstroke</key>
		<string>cstroke.glif</string>
		<key>eopenogonek</key>
		<string>eopenogonek.glif</string>
		<key>eopenreversed</key>
		<string>eopenreversed.glif</string>
		<key>ismallstroke</key>
		<string>ismallstroke.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>lbar</key>
		<string>lbar.glif</string>
		<key>lbardbl</key>
		<string>lbardbl.glif</string>
		<key>tstroke</key>
		<string>tstroke.glif</string>
		<key>upsilonlatin</key>
		<string>upsilonlatin.glif</string>
		<key>upsilonstroke</key>
		<string>upsilonstroke.glif</string>
	</dict>
</plist>
