<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>circumflexdoublecmb</key>
		<string>circumflexdoublecmb.glif</string>
		<key>dieresisgrave</key>
		<string>dieresisgrave.glif</string>
		<key>dieresisgrave.cap</key>
		<string>dieresisgrave.cap.glif</string>
		<key>dzcurl</key>
		<string>dzcurl.glif</string>
		<key>dzed</key>
		<string>dzed.glif</string>
		<key>dzretroflex</key>
		<string>dzretroflex.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>lslash.a</key>
		<string>lslash.a.glif</string>
		<key>macronacute</key>
		<string>macronacute.glif</string>
		<key>macronacute.cap</key>
		<string>macronacute.cap.glif</string>
		<key>quoteleftheavy</key>
		<string>quoteleftheavy.glif</string>
		<key>quoterightheavy</key>
		<string>quoterightheavy.glif</string>
		<key>ringacute</key>
		<string>ringacute.glif</string>
		<key>ringacute.cap</key>
		<string>ringacute.cap.glif</string>
		<key>ringcmb</key>
		<string>ringcmb.glif</string>
		<key>ringcmb.cap</key>
		<string>ringcmb.cap.glif</string>
		<key>rsmallinverted</key>
		<string>rsmallinverted.glif</string>
	</dict>
</plist>
