<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>acutecmb</key>
		<string>acutecmb.glif</string>
		<key>acutecmb.cap</key>
		<string>acutecmb.cap.glif</string>
		<key>apostrophemod</key>
		<string>apostrophemod.glif</string>
		<key>asperacute.cap</key>
		<string>asperacute.cap.glif</string>
		<key>asperacutecmb</key>
		<string>asperacutecmb.glif</string>
		<key>aspergrave.cap</key>
		<string>aspergrave.cap.glif</string>
		<key>aspergravecmb</key>
		<string>aspergravecmb.glif</string>
		<key>breveacute</key>
		<string>breveacute.glif</string>
		<key>breveacute.cap</key>
		<string>breveacute.cap.glif</string>
		<key>brevegrave</key>
		<string>brevegrave.glif</string>
		<key>brevegrave.cap</key>
		<string>brevegrave.cap.glif</string>
		<key>brevetilde</key>
		<string>brevetilde.glif</string>
		<key>brevetilde.cap</key>
		<string>brevetilde.cap.glif</string>
		<key>candrabinducmb.cap</key>
		<string>candrabinducmb.cap.glif</string>
		<key>caroncmb</key>
		<string>caroncmb.glif</string>
		<key>caroncmb.cap</key>
		<string>caroncmb.cap.glif</string>
		<key>caroncomma</key>
		<string>caroncomma.glif</string>
		<key>caroncomma.cap</key>
		<string>caroncomma.cap.glif</string>
		<key>carondotaccent</key>
		<string>carondotaccent.glif</string>
		<key>carondotaccent.cap</key>
		<string>carondotaccent.cap.glif</string>
		<key>circumflexacute</key>
		<string>circumflexacute.glif</string>
		<key>circumflexacute.cap</key>
		<string>circumflexacute.cap.glif</string>
		<key>circumflexbreve</key>
		<string>circumflexbreve.glif</string>
		<key>circumflexbreve.cap</key>
		<string>circumflexbreve.cap.glif</string>
		<key>circumflexcaron</key>
		<string>circumflexcaron.glif</string>
		<key>circumflexcaron.cap</key>
		<string>circumflexcaron.cap.glif</string>
		<key>circumflexcmb</key>
		<string>circumflexcmb.glif</string>
		<key>circumflexcmb.cap</key>
		<string>circumflexcmb.cap.glif</string>
		<key>circumflexgrave</key>
		<string>circumflexgrave.glif</string>
		<key>circumflexgrave.cap</key>
		<string>circumflexgrave.cap.glif</string>
		<key>circumflexhoi</key>
		<string>circumflexhoi.glif</string>
		<key>circumflexhoi.cap</key>
		<string>circumflexhoi.cap.glif</string>
		<key>circumflexmacron</key>
		<string>circumflexmacron.glif</string>
		<key>circumflexmacron.cap</key>
		<string>circumflexmacron.cap.glif</string>
		<key>circumflextilde</key>
		<string>circumflextilde.glif</string>
		<key>circumflextilde.cap</key>
		<string>circumflextilde.cap.glif</string>
		<key>commareversedmod</key>
		<string>commareversedmod.glif</string>
		<key>commaturnedmod</key>
		<string>commaturnedmod.glif</string>
		<key>dblgravecmb</key>
		<string>dblgravecmb.glif</string>
		<key>dblgravecmb.cap</key>
		<string>dblgravecmb.cap.glif</string>
		<key>dialytikagravecmb</key>
		<string>dialytikagravecmb.glif</string>
		<key>dialytikatonoscmb</key>
		<string>dialytikatonoscmb.glif</string>
		<key>dieresisacute</key>
		<string>dieresisacute.glif</string>
		<key>dieresisacute.cap</key>
		<string>dieresisacute.cap.glif</string>
		<key>dieresiscaron</key>
		<string>dieresiscaron.glif</string>
		<key>dieresiscaron.cap</key>
		<string>dieresiscaron.cap.glif</string>
		<key>dieresiscmb.cap</key>
		<string>dieresiscmb.cap.glif</string>
		<key>dieresisgrave</key>
		<string>dieresisgrave.glif</string>
		<key>dieresisgrave.cap</key>
		<string>dieresisgrave.cap.glif</string>
		<key>dieresismacron</key>
		<string>dieresismacron.glif</string>
		<key>dieresismacron.cap</key>
		<string>dieresismacron.cap.glif</string>
		<key>dieresistilde</key>
		<string>dieresistilde.glif</string>
		<key>eacute.sups</key>
		<string>eacute.sups.glif</string>
		<key>egrave.sups</key>
		<string>egrave.sups.glif</string>
		<key>gravecmb</key>
		<string>gravecmb.glif</string>
		<key>gravecmb.cap</key>
		<string>gravecmb.cap.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>hungarumlautcmb.cap</key>
		<string>hungarumlautcmb.cap.glif</string>
		<key>lenisacute.cap</key>
		<string>lenisacute.cap.glif</string>
		<key>lenisacutecmb</key>
		<string>lenisacutecmb.glif</string>
		<key>lenisgrave.cap</key>
		<string>lenisgrave.cap.glif</string>
		<key>lenisgravecmb</key>
		<string>lenisgravecmb.glif</string>
		<key>macronacute</key>
		<string>macronacute.glif</string>
		<key>macronacute.cap</key>
		<string>macronacute.cap.glif</string>
		<key>macrongrave</key>
		<string>macrongrave.glif</string>
		<key>macrongrave.cap</key>
		<string>macrongrave.cap.glif</string>
		<key>ringacute</key>
		<string>ringacute.glif</string>
		<key>ringacute.cap</key>
		<string>ringacute.cap.glif</string>
		<key>tonos.cap</key>
		<string>tonos.cap.glif</string>
		<key>tonoscmb</key>
		<string>tonoscmb.glif</string>
		<key>tturned</key>
		<string>tturned.glif</string>
		<key>varia.cap</key>
		<string>varia.cap.glif</string>
		<key>variacmb</key>
		<string>variacmb.glif</string>
		<key>verticallineabovecmb</key>
		<string>verticallineabovecmb.glif</string>
		<key>verticallineabovecmb.cap</key>
		<string>verticallineabovecmb.cap.glif</string>
	</dict>
</plist>
