<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>750</integer>
	<key>capHeight</key>
	<integer>660</integer>
	<key>copyright</key>
	<string>Source is a trademark of Adobe Systems Incorporated in the United States and/or other countries.</string>
	<key>descender</key>
	<integer>-250</integer>
	<key>familyName</key>
	<string>Source Sans Pro</string>
	<key>italicAngle</key>
	<real>-11.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>0</integer>
	<key>macintoshFONDName</key>
	<string>Source Sans Pro 1000 wt</string>
	<key>note</key>
	<string>#Correlation list between Latin and non-Latin classes
#Roman
#
#=========
#UPPERCASE
#=========
#Cyrillic =&gt; Latin
_ROUND_UC_LEFT_CYR	_O_UC_LEFT_LAT
_ROUND_UC_RIGHT_CYR	_O_UC_RIGHT_LAT
_STRAIGHT_UC_LEFT_CYR	_H_UC_LEFT_LAT
_STRAIGHT_UC_RIGHT_CYR	_H_UC_RIGHT_LAT
_ACYR_UC_LEFT_CYR	_A_UC_LEFT_LAT
_ACYR_UC_RIGHT_CYR	_A_UC_RIGHT_LAT
_VE_UC_LEFT_CYR	_B_UC_LEFT_LAT
_ES_UC_LEFT_CYR	_C_UC_LEFT_LAT
_IE_UC_LEFT_CYR	_E_UC_LEFT_LAT
_JE_UC_LEFT_CYR	_J_UC_LEFT_LAT
_JE_UC_RIGHT_CYR	_J_UC_RIGHT_LAT
_ER_UC_LEFT_CYR	_P_UC_LEFT_LAT
_DZE_UC_LEFT_CYR	_S_UC_LEFT_LAT
_DZE_UC_RIGHT_CYR	_S_UC_RIGHT_LAT
_TE_UC_LEFT_CYR	_T_UC_LEFT_LAT
_TE_UC_RIGHT_CYR	_T_UC_RIGHT_LAT
_IZHITSA_UC_RIGHT_CYR	_V_UC_RIGHT_LAT
_HA_UC_LEFT_CYR	_X_UC_LEFT_LAT
_HA_UC_RIGHT_CYR	_X_UC_RIGHT_LAT
#_UCYRSTRAIGHT_UC_LEFT_CYR	_Y_UC_LEFT_LAT
#_UCYRSTRAIGHT_UC_RIGHT_CYR	_Y_UC_RIGHT_LAT
#
#Greek =&gt; Latin
_ROUND_UC_LEFT_GRK	_O_UC_LEFT_LAT
_ROUND_UC_RIGHT_GRK	_O_UC_RIGHT_LAT
_STRAIGHT_UC_LEFT_GRK	_H_UC_LEFT_LAT
_STRAIGHT_UC_RIGHT_GRK	_H_UC_RIGHT_LAT
_ALPHA_UC_LEFT_GRK	_A_UC_LEFT_LAT
_ALPHA_UC_RIGHT_GRK	_A_UC_RIGHT_LAT
_BETA_UC_LEFT_GRK	_B_UC_LEFT_LAT
_EPSILON_UC_LEFT_GRK	_E_UC_LEFT_LAT
_KAPPA_UC_LEFT_GRK	_K_UC_LEFT_LAT
_RHO_UC_LEFT_GRK	_P_UC_LEFT_LAT
_TAU_UC_LEFT_GRK	_T_UC_LEFT_LAT
_TAU_UC_RIGHT_GRK	_T_UC_RIGHT_LAT
_CHI_UC_LEFT_GRK	_X_UC_LEFT_LAT
_CHI_UC_RIGHT_GRK	_X_UC_RIGHT_LAT
_ZETA_UC_LEFT_GRK	_Z_UC_LEFT_LAT
_ZETA_UC_RIGHT_GRK	_Z_UC_RIGHT_LAT
#
#=========
#SMALLCAPS
#=========
#Cyrillic =&gt; Latin
_ROUND_SC_LEFT_CYR	_O_SC_LEFT_LAT
_ROUND_SC_RIGHT_CYR	_O_SC_RIGHT_LAT
_STRAIGHT_SC_LEFT_CYR	_H_SC_LEFT_LAT
_STRAIGHT_SC_RIGHT_CYR	_H_SC_RIGHT_LAT
_ACYR_SC_LEFT_CYR	_A_SC_LEFT_LAT
_ACYR_SC_RIGHT_CYR	_A_SC_RIGHT_LAT
_VE_SC_LEFT_CYR	_B_SC_LEFT_LAT
_ES_SC_LEFT_CYR	_C_SC_LEFT_LAT
_IE_SC_LEFT_CYR	_E_SC_LEFT_LAT
_JE_SC_LEFT_CYR	_J_SC_LEFT_LAT
_JE_SC_RIGHT_CYR	_J_SC_RIGHT_LAT
_ER_SC_LEFT_CYR	_P_SC_LEFT_LAT
_DZE_SC_LEFT_CYR	_S_SC_LEFT_LAT
_DZE_SC_RIGHT_CYR	_S_SC_RIGHT_LAT
_TE_SC_LEFT_CYR	_T_SC_LEFT_LAT
_TE_SC_RIGHT_CYR	_T_SC_RIGHT_LAT
_IZHITSA_SC_RIGHT_CYR	_V_SC_RIGHT_LAT
_HA_SC_LEFT_CYR	_X_SC_LEFT_LAT
_HA_SC_RIGHT_CYR	_X_SC_RIGHT_LAT
#_UCYRSTRAIGHT_SC_LEFT_CYR	_Y_SC_LEFT_LAT
#_UCYRSTRAIGHT_SC_RIGHT_CYR	_Y_SC_RIGHT_LAT
#
#Greek =&gt; Latin
_ROUND_SC_LEFT_GRK	_O_SC_LEFT_LAT
_ROUND_SC_RIGHT_GRK	_O_SC_RIGHT_LAT
_STRAIGHT_SC_LEFT_GRK	_H_SC_LEFT_LAT
_STRAIGHT_SC_RIGHT_GRK	_H_SC_RIGHT_LAT
_ALPHA_SC_LEFT_GRK	_A_SC_LEFT_LAT
_ALPHA_SC_RIGHT_GRK	_A_SC_RIGHT_LAT
_BETA_SC_LEFT_GRK	_B_SC_LEFT_LAT
_EPSILON_SC_LEFT_GRK	_E_SC_LEFT_LAT
_KAPPA_SC_LEFT_GRK	_K_SC_LEFT_LAT
_RHO_SC_LEFT_GRK	_P_SC_LEFT_LAT
_TAU_SC_LEFT_GRK	_T_SC_LEFT_LAT
_TAU_SC_RIGHT_GRK	_T_SC_RIGHT_LAT
_CHI_SC_LEFT_GRK	_X_SC_LEFT_LAT
_CHI_SC_RIGHT_GRK	_X_SC_RIGHT_LAT
_ZETA_SC_LEFT_GRK	_Z_SC_LEFT_LAT
_ZETA_SC_RIGHT_GRK	_Z_SC_RIGHT_LAT
#
#=========
#LOWERCASE
#=========
#Cyrillic =&gt; Latin
_ROUND_LC_LEFT_CYR	_O_LC_LEFT_LAT
_ROUND_LC_RIGHT_CYR	_O_LC_RIGHT_LAT
_IUKRAN_LC_LEFT_CYR	_I_LC_LEFT_LAT
_DJE_LC_RIGHT_CYR	_L_LC_RIGHT_LAT
_ACYR_LC_LEFT_CYR	_A_LC_LEFT_LAT
_ACYR_LC_RIGHT_CYR	_A_LC_RIGHT_LAT
_ES_LC_LEFT_CYR	_C_LC_LEFT_LAT
_IE_LC_LEFT_CYR	_E_LC_LEFT_LAT
_IUKRAN_LC_RIGHT_CYR	_I_LC_RIGHT_LAT
_JE_LC_LEFT_CYR	_J_LC_LEFT_LAT
_JE_LC_RIGHT_CYR	_J_LC_RIGHT_LAT
_TSHE_LC_LEFT_CYR	_N_LC_LEFT_LAT
_STRAIGHT_LC_RIGHT_CYR	_N_LC_RIGHT_LAT
_ER_LC_RIGHT_CYR	_N_LC_RIGHT_LAT
_DZE_LC_LEFT_CYR	_S_LC_LEFT_LAT
_DZE_LC_RIGHT_CYR	_S_LC_RIGHT_LAT
_IZHITSA_LC_RIGHT_CYR	_V_LC_RIGHT_LAT
_HA_LC_LEFT_CYR	_X_LC_LEFT_LAT
_HA_LC_RIGHT_CYR	_X_LC_RIGHT_LAT
_UCYR_LC_LEFT_CYR	_Y_LC_LEFT_LAT
_UCYR_LC_RIGHT_CYR	_Y_LC_RIGHT_LAT
#
#===========
#PUNCTUATION
#===========
#Greek =&gt; Latin
_QUESTION_LEFT_GRK	_PCT_COLON_LEFT
_QUESTION_RIGHT_GRK	_PCT_COLON_RIGHT
#
#Non-Latin =&gt; Latin
#_REGISTERED	_REGISTERED
#_SUPERIOR	_SUPERIOR
_PCT_COLON_LEFT	_PCT_COLON_LEFT
_PCT_COLON_RIGHT	_PCT_COLON_RIGHT
_PCT_COMMA_LEFT	_PCT_COMMA_LEFT
_PCT_COMMA_RIGHT	_PCT_COMMA_RIGHT
#_PERIOD	_PERIOD
#_PERIODCENTERED	_PERIODCENTERED
#_PERIODCENTERED_CAP	_PERIODCENTERED_CAP
#_DASH	_DASH
_PCT_EMDASH_LEFT	_PCT_EMDASH_LEFT
_PCT_EMDASH_RIGHT	_PCT_EMDASH_RIGHT
#_DASH_CAP	_DASH_CAP
_PCT_GUILLEFT_LEFT	_PCT_GUILLEFT_LEFT
_PCT_GUILLEFT_RIGHT	_PCT_GUILLEFT_RIGHT
#_GUILLEFT_CAP	_GUILLEFT_CAP
_PCT_GUILRIGHT_LEFT	_PCT_GUILRIGHT_LEFT
_PCT_GUILRIGHT_RIGHT	_PCT_GUILRIGHT_RIGHT
#_GUILRIGHT_CAP	_GUILRIGHT_CAP
#_PARENLEFT_LEFT	_PARENLEFT_LEFT
#_PARENLEFT_RIGHT	_PARENLEFT_RIGHT
#_PARENRIGHT_LEFT	_PARENRIGHT_LEFT
#_PARENRIGHT_RIGHT	_PARENRIGHT_RIGHT
#_PARENLEFT_CAP_LEFT	_PARENLEFT_CAP_LEFT
#_PARENLEFT_CAP_RIGHT	_PARENLEFT_CAP_RIGHT
#_PARENRIGHT_CAP_LEFT	_PARENRIGHT_CAP_LEFT
#_PARENRIGHT_CAP_RIGHT	_PARENRIGHT_CAP_RIGHT
#_EXCLAM_LEFT	_EXCLAM_LEFT
_PCT_EXCLAM_RIGHT	_PCT_EXCLAM_RIGHT
#_EXCLAM_SC_LEFT	_EXCLAM_SC_LEFT
#_EXCLAM_SC_RIGHT	_EXCLAM_SC_RIGHT
#_QUESTION_LEFT	_QUESTION_LEFT
_PCT_QUESTION_RIGHT	_PCT_QUESTION_RIGHT
#_QUESTION_SC_LEFT	_QUESTION_SC_LEFT
#_QUESTION_SC_RIGHT	_QUESTION_SC_RIGHT
_PCT_QUOTE_LEFT	_PCT_QUOTE_LEFT
_PCT_QUOTE_RIGHT	_PCT_QUOTE_RIGHT
_PCT_QUOTELEFT_LEFT	_PCT_QUOTELEFT_LEFT
_PCT_QUOTELEFT_RIGHT	_PCT_QUOTELEFT_RIGHT
_PCT_QUOTERIGHT_LEFT	_PCT_QUOTERIGHT_LEFT
_PCT_QUOTERIGHT_RIGHT	_PCT_QUOTERIGHT_RIGHT
_PCT_QUOTEBASE_LEFT	_PCT_QUOTEBASE_LEFT
#_PCT_QUOTEBASE_RIGHT	_PCT_QUOTEBASE_RIGHT
_PCT_BRACELEFT_LEFT	_PCT_BRACELEFT_LEFT
_PCT_BRACERIGHT_RIGHT	_PCT_BRACERIGHT_RIGHT</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>9</integer>
	<key>openTypeHheaAscender</key>
	<integer>750</integer>
	<key>openTypeHheaDescender</key>
	<integer>-250</integer>
	<key>openTypeHheaLineGap</key>
	<integer>200</integer>
	<key>openTypeNameDescription</key>
	<string>Copyright 2010, 2012 Adobe Systems Incorporated. All Rights Reserved.</string>
	<key>openTypeNameDesigner</key>
	<string>Paul D. Hunt</string>
	<key>openTypeNameLicense</key>
	<string>Copyright \00a9 2012, Adobe Systems, Inc. (http://www.adobe.com/), with Reserved Font Name Playback Sans.

Font Software is licensed under the SIL Open Font License, Version 1.1.

This license is copied below, and is also available with a FAQ at: http://scripts.sil.org/OFL

-----------------------------------------------------------
SIL OPEN FONT LICENSE Version 1.1 - 26 February 2007
-----------------------------------------------------------

PREAMBLE
The goals of the Open Font License (OFL) are to stimulate worldwide development of collaborative font projects, to support the font creation efforts of academic and linguistic communities, and to provide a free and open framework in which fonts may be shared and improved in partnership with others.

The OFL allows the licensed fonts to be used, studied, modified and redistributed freely as long as they are not sold by themselves. The fonts, including any derivative works, can be bundled, embedded, redistributed and/or sold with any software provided that any reserved names are not used by derivative works. The fonts and derivatives, however, cannot be released under any other type of license. The requirement for fonts to remain under this license does not apply to any document created using the fonts or their derivatives.

DEFINITIONS
"Font Software" refers to any and all of the following:
	- font files
	- data files
	- source code
	- build scripts
	- documentation

"Reserved Font Name" refers to the Font Software name as seen by users and any other names as specified after the copyright statement.

"Standard Version" refers to the collection of Font Software components as distributed by the Copyright Holder.

"Modified Version" refers to any derivative font software made by adding to, deleting, or substituting -- in part or in whole -- any of the components of the Standard Version, by changing formats or by porting the Font Software to a new environment.

"Author" refers to any designer, engineer, programmer, technical writer or other person who contributed to the Font Software.

PERMISSION &amp; CONDITIONS
Permission is hereby granted, free of charge, to any person obtaining a copy of the Font Software, to use, study, copy, merge, embed, modify, redistribute, and sell modified and unmodified copies of the FontSoftware, subject to the following conditions:

1) Neither the Font Software nor any of its individual components, in Standard or Modified Versions, may be sold by itself.

2) Standard or Modified Versions of the Font Software may be bundled, redistributed and sold with any software, provided that each copy contains the above copyright notice and this license. These can be included either as stand-alone text files, human-readable headers or in the appropriate machine-readable metadata fields within text or binary files as long as those fields can be easily viewed by the user.

3) No Modified Version of the Font Software may use the Reserved Font Name(s), in part or in whole, unless explicit written permission is granted by the Copyright Holder. This restriction applies to all references stored in the Font Software, such as the font menu name and other font description fields, which are used to differentiate the font from others.

4) The name(s) of the Copyright Holder or the Author(s) of the Font Software shall not be used to promote, endorse or advertise any Modified Version, except to acknowledge the contribution(s) of the Copyright Holder and the Author(s) or with their explicit written permission.

5) The Font Software, modified or unmodified, in part or in whole, must be distributed using this license, and may not be distributed under any other license.

TERMINATION
This license becomes null and void if any of the above conditions are not met.

DISCLAIMER
THE FONT SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT OF COPYRIGHT, PATENT, TRADEMARK, OR OTHER RIGHT. IN NO EVENT SHALL THE COPYRIGHT HOLDER BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, INCLUDING ANY GENERAL, SPECIAL, INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF THE USE OR INABILITY TO USE THE FONT SOFTWARE OR FROM OTHER DEALINGS IN THE FONT SOFTWARE.</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://www.adobe.com/type/legal.html</string>
	<key>openTypeNameManufacturerURL</key>
	<string>http://www.adobe.com/type</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>11</integer>
		<integer>4</integer>
		<integer>6</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>290</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>75</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>350</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>600</integer>
	<key>openTypeOS2Type</key>
	<array>
		<integer>3</integer>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>750</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-250</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>200</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>ADBE</string>
	<key>openTypeOS2WeightClass</key>
	<integer>900</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>863</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>250</integer>
	<key>postscriptBlueFuzz</key>
	<integer>0</integer>
	<key>postscriptBlueScale</key>
	<real>0.0625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>500</integer>
		<integer>512</integer>
		<integer>580</integer>
		<integer>592</integer>
		<integer>634</integer>
		<integer>646</integer>
		<integer>650</integer>
		<integer>662</integer>
		<integer>696</integer>
		<integer>708</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
		<integer>-12</integer>
		<integer>0</integer>
		<integer>486</integer>
		<integer>498</integer>
		<integer>518</integer>
		<integer>530</integer>
		<integer>574</integer>
		<integer>586</integer>
		<integer>638</integer>
		<integer>650</integer>
		<integer>656</integer>
		<integer>668</integer>
		<integer>712</integer>
		<integer>724</integer>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
		<integer>-217</integer>
		<integer>-205</integer>
	</array>
	<key>postscriptFontName</key>
	<string>SourceSansPro-1000wt</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Source Sans Pro 1000 wt</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-188</integer>
		<integer>-176</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
		<integer>134</integer>
		<integer>144</integer>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
		<integer>172</integer>
		<integer>172</integer>
		<integer>176</integer>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-100</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>50</integer>
	<key>postscriptUniqueID</key>
	<integer>-1</integer>
	<key>postscriptWeightName</key>
	<string>Heavy</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Source Sans Pro</string>
	<key>styleMapStyleName</key>
	<string>italic</string>
	<key>styleName</key>
	<string>1000 wt</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>500</integer>
	<key>year</key>
	<integer>2010</integer>
</dict>
</plist>
