<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Hadescender.sc</key>
		<dict>
			<key>quoteleft.sc</key>
			<integer>0</integer>
		</dict>
		<key>Izhitsa.sc</key>
		<dict>
			<key>public.kern2.PCT_BRACERIGHT_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>Tbar.sc</key>
		<dict>
			<key>hyphen.sc</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_SC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_SC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_O_SC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_S_SC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_SC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_COMMA_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>aturned</key>
		<dict>
			<key>asterisk</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Y_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_EMDASH_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUESTION_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>ccurl</key>
		<dict>
			<key>periodcentered</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_O_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Y_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_EMDASH_RIGHT</key>
			<integer>0</integer>
			<key>registered</key>
			<integer>0</integer>
		</dict>
		<key>ceilingleft</key>
		<dict>
			<key>public.kern2.CYR_DE_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.CYR_DE_SC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.CYR_DE_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.CYR_EL_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.CYR_EL_UC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>ereversed</key>
		<dict>
			<key>asterisk</key>
			<integer>0</integer>
			<key>backslash</key>
			<integer>0</integer>
			<key>periodcentered</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_F_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_S_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Y_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_EMDASH_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_GUILLEFT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
			<integer>0</integer>
			<key>registered</key>
			<integer>0</integer>
			<key>trademark</key>
			<integer>0</integer>
		</dict>
		<key>gammalatin</key>
		<dict>
			<key>asterisk</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Y_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_COMMA_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_EMDASH_RIGHT</key>
			<integer>0</integer>
			<key>registered</key>
			<integer>0</integer>
			<key>slash</key>
			<integer>0</integer>
			<key>trademark</key>
			<integer>0</integer>
		</dict>
		<key>gheup</key>
		<dict>
			<key>public.kern2.PCT_QUOTELEFT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTE_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>glottalstop</key>
		<dict>
			<key>ibreve</key>
			<integer>0</integer>
			<key>icaron</key>
			<integer>0</integer>
			<key>icircumflex</key>
			<integer>0</integer>
			<key>idieresis</key>
			<integer>0</integer>
			<key>imacron</key>
			<integer>0</integer>
			<key>itilde</key>
			<integer>0</integer>
		</dict>
		<key>hadescender</key>
		<dict>
			<key>public.kern2.CYR_DE_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>hturned</key>
		<dict>
			<key>asterisk</key>
			<integer>0</integer>
			<key>public.kern2.LAT_T_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Y_UC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>iacute</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>ibreve</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>icaron</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>icircumflex</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>idieresis</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>imacron</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>itilde</key>
		<dict>
			<key>glottalstop</key>
			<integer>0</integer>
		</dict>
		<key>kai</key>
		<dict>
			<key>chi</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_GHE_LC_LEFT</key>
		<dict>
			<key>schwacyr</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_GHE_SC_LEFT</key>
		<dict>
			<key>floorright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_GHE_UC_LEFT</key>
		<dict>
			<key>Abrevecyr.sc</key>
			<integer>0</integer>
			<key>floorright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_HA_SC_LEFT</key>
		<dict>
			<key>Dje.sc</key>
			<integer>0</integer>
			<key>Hard.sc</key>
			<integer>0</integer>
			<key>Kabashkir.sc</key>
			<integer>0</integer>
			<key>Tshe.sc</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_IZHITSA_LC_LEFT</key>
		<dict>
			<key>parenright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_IZHITSA_UC_LEFT</key>
		<dict>
			<key>yi</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_TE_LC_LEFT</key>
		<dict>
			<key>schwacyr</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_TSE_SC_LEFT</key>
		<dict>
			<key>Dje.sc</key>
			<integer>0</integer>
			<key>Hard.sc</key>
			<integer>0</integer>
			<key>Kabashkir.sc</key>
			<integer>0</integer>
			<key>Tshe.sc</key>
			<integer>0</integer>
			<key>ceilingright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_TSE_UC_LEFT</key>
		<dict>
			<key>ceilingright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_UCYR_UC_LEFT</key>
		<dict>
			<key>floorright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.CYR_VE_SC_LEFT</key>
		<dict>
			<key>Dje.sc</key>
			<integer>0</integer>
			<key>Hard.sc</key>
			<integer>0</integer>
			<key>Kabashkir.sc</key>
			<integer>0</integer>
			<key>Tshe.sc</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_CHI_UC_LEFT</key>
		<dict>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_EPSILON_UC_LEFT</key>
		<dict>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_GAMMA_UC_LEFT</key>
		<dict>
			<key>alphaasperacute</key>
			<integer>0</integer>
			<key>alphaaspergrave</key>
			<integer>0</integer>
			<key>alphaiotasubasperacute</key>
			<integer>0</integer>
			<key>alphaiotasubaspergrave</key>
			<integer>0</integer>
			<key>epsilonasperacute</key>
			<integer>0</integer>
			<key>epsilonaspergrave</key>
			<integer>0</integer>
			<key>epsilonlenisacute</key>
			<integer>0</integer>
			<key>epsilonlenisgrave</key>
			<integer>0</integer>
			<key>iotaacute</key>
			<integer>0</integer>
			<key>iotaasper</key>
			<integer>0</integer>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenis</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
			<key>iotatonos</key>
			<integer>0</integer>
			<key>omicronasperacute</key>
			<integer>0</integer>
			<key>omicronaspergrave</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_PSI_UC_LEFT</key>
		<dict>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_SIGMA_UC_LEFT</key>
		<dict>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_TAU_UC_LEFT</key>
		<dict>
			<key>iotaacute</key>
			<integer>0</integer>
			<key>iotaasper</key>
			<integer>0</integer>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_UPSILON_UC_LEFT</key>
		<dict>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_XI_LC_LEFT</key>
		<dict>
			<key>semicolon</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_ZETA_LC_LEFT</key>
		<dict>
			<key>iotaasper</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenis</key>
			<integer>0</integer>
			<key>period</key>
			<integer>0</integer>
			<key>semicolon</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.GRK_ZETA_UC_LEFT</key>
		<dict>
			<key>iotaaspertilde</key>
			<integer>0</integer>
			<key>iotagrave</key>
			<integer>0</integer>
			<key>iotalenistilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_ESH_LC_LEFT</key>
		<dict>
			<key>ibreve</key>
			<integer>0</integer>
			<key>icaron</key>
			<integer>0</integer>
			<key>icircumflex</key>
			<integer>0</integer>
			<key>idieresis</key>
			<integer>0</integer>
			<key>igrave</key>
			<integer>0</integer>
			<key>imacron</key>
			<integer>0</integer>
			<key>itilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_F_LC_LEFT</key>
		<dict>
			<key>ibreve</key>
			<integer>0</integer>
			<key>icaron</key>
			<integer>0</integer>
			<key>icircumflex</key>
			<integer>0</integer>
			<key>idieresis</key>
			<integer>0</integer>
			<key>igrave</key>
			<integer>0</integer>
			<key>imacron</key>
			<integer>0</integer>
			<key>itilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_F_UC_LEFT</key>
		<dict>
			<key>icircumflex</key>
			<integer>0</integer>
			<key>idieresis</key>
			<integer>0</integer>
			<key>imacron</key>
			<integer>0</integer>
			<key>itilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_N_LC_LEFT</key>
		<dict>
			<key>j.sups</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_OHORN_LC_LEFT</key>
		<dict>
			<key>floorright</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_R_LC_LEFT</key>
		<dict>
			<key>y.sups</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.LAT_V_UC_LEFT</key>
		<dict>
			<key>iacute</key>
			<integer>0</integer>
			<key>ibreve</key>
			<integer>0</integer>
			<key>icaron</key>
			<integer>0</integer>
			<key>icircumflex</key>
			<integer>0</integer>
			<key>idieresis</key>
			<integer>0</integer>
			<key>igrave</key>
			<integer>0</integer>
			<key>ihoi</key>
			<integer>0</integer>
			<key>imacron</key>
			<integer>0</integer>
			<key>iogonek.x</key>
			<integer>0</integer>
			<key>itilde</key>
			<integer>0</integer>
		</dict>
		<key>public.kern1.PCT_GUILLEFT_LEFT</key>
		<dict>
			<key>Epsilonacute</key>
			<integer>0</integer>
			<key>Epsilongrave</key>
			<integer>0</integer>
			<key>Epsilontonos</key>
			<integer>0</integer>
			<key>Etaacute</key>
			<integer>0</integer>
			<key>Etagrave</key>
			<integer>0</integer>
			<key>Etatonos</key>
			<integer>0</integer>
			<key>Iotaacute</key>
			<integer>0</integer>
			<key>Iotagrave</key>
			<integer>0</integer>
			<key>Iotatonos</key>
			<integer>0</integer>
			<key>Omegaacute</key>
			<integer>0</integer>
			<key>Omegagrave</key>
			<integer>0</integer>
			<key>Omegatonos</key>
			<integer>0</integer>
			<key>Omicronacute</key>
			<integer>0</integer>
			<key>Omicrongrave</key>
			<integer>0</integer>
			<key>Omicrontonos</key>
			<integer>0</integer>
			<key>Upsilonacute</key>
			<integer>0</integer>
			<key>Upsilontonos</key>
			<integer>0</integer>
		</dict>
		<key>rtail</key>
		<dict>
			<key>backslash</key>
			<integer>0</integer>
			<key>periodcentered</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_COMMA_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_EMDASH_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_GUILLEFT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTELEFT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
			<integer>0</integer>
			<key>registered</key>
			<integer>0</integer>
			<key>slash</key>
			<integer>0</integer>
		</dict>
		<key>rturned</key>
		<dict>
			<key>backslash</key>
			<integer>0</integer>
			<key>periodcentered</key>
			<integer>0</integer>
			<key>public.kern2.LAT_A_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_G_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_J_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_S_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_V_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_W_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_LC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.LAT_Z_UC_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_COMMA_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_EMDASH_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_GUILLEFT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTELEFT_RIGHT</key>
			<integer>0</integer>
			<key>public.kern2.PCT_QUOTERIGHT_RIGHT</key>
			<integer>0</integer>
			<key>registered</key>
			<integer>0</integer>
			<key>slash</key>
			<integer>0</integer>
		</dict>
		<key>slash</key>
		<dict>
			<key>ibreve</key>
			<integer>0</integer>
			<key>icaron</key>
			<integer>0</integer>
			<key>icircumflex</key>
			<integer>0</integer>
			<key>idieresis</key>
			<integer>0</integer>
			<key>imacron</key>
			<integer>0</integer>
			<key>itilde</key>
			<integer>0</integer>
			<key>jcircumflex</key>
			<integer>0</integer>
			<key>tdieresis</key>
			<integer>0</integer>
		</dict>
		<key>vturned</key>
		<dict>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>wturned</key>
		<dict>
			<key>asterisk</key>
			<integer>0</integer>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>ysmall</key>
		<dict>
			<key>public.kern2.PCT_COMMA_RIGHT</key>
			<integer>0</integer>
		</dict>
		<key>yturned</key>
		<dict>
			<key>public.kern2.LAT_X_LC_RIGHT</key>
			<integer>0</integer>
			<key>registered</key>
			<integer>0</integer>
			<key>trademark</key>
			<integer>0</integer>
		</dict>
		<key>zretroflex</key>
		<dict>
			<key>p</key>
			<integer>0</integer>
		</dict>
	</dict>
</plist>
