<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Khook</key>
		<string>K_hook.glif</string>
		<key>Khook.sc</key>
		<string>K_hook.sc.glif</string>
		<key>Vhook</key>
		<string>V_hook.glif</string>
		<key>Vhook.sc</key>
		<string>V_hook.sc.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>cent</key>
		<string>cent.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>eight.cap</key>
		<string>eight.cap.glif</string>
		<key>khook</key>
		<string>khook.glif</string>
		<key>sharealike</key>
		<string>sharealike.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>two.cap</key>
		<string>two.cap.glif</string>
		<key>two.pnum</key>
		<string>two.pnum.glif</string>
		<key>two.tnum</key>
		<string>two.tnum.glif</string>
	</dict>
</plist>
