<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Fhook</key>
		<string>F_hook.glif</string>
		<key>Nhookleft</key>
		<string>N_hookleft.glif</string>
		<key>Vhook</key>
		<string>V_hook.glif</string>
	</dict>
</plist>
