<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>A.sc</key>
		<string>A_.sc.glif</string>
		<key>AE.sc</key>
		<string>A_E_.sc.glif</string>
		<key>Aogonek.sc</key>
		<string>A_ogonek.sc.glif</string>
		<key>Astroke</key>
		<string>A_stroke.glif</string>
		<key>Astroke.sc</key>
		<string>A_stroke.sc.glif</string>
		<key>B.sc</key>
		<string>B_.sc.glif</string>
		<key>Be.sc</key>
		<string>B_e.sc.glif</string>
		<key>Bhook.sc</key>
		<string>B_hook.sc.glif</string>
		<key>Bstroke</key>
		<string>B_stroke.glif</string>
		<key>Bstroke.sc</key>
		<string>B_stroke.sc.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>C.sc</key>
		<string>C_.sc.glif</string>
		<key>Cstroke</key>
		<string>C_stroke.glif</string>
		<key>Cstroke.sc</key>
		<string>C_stroke.sc.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>D.sc</key>
		<string>D_.sc.glif</string>
		<key>Dje.sc</key>
		<string>D_je.sc.glif</string>
		<key>E.sc</key>
		<string>E_.sc.glif</string>
		<key>Ecyr.sc</key>
		<string>E_cyr.sc.glif</string>
		<key>Eng.a</key>
		<string>E_ng.a.glif</string>
		<key>Eng.as</key>
		<string>E_ng.as.glif</string>
		<key>Eogonek.ds</key>
		<string>E_ogonek.ds.glif</string>
		<key>Eogonek.sc</key>
		<string>E_ogonek.sc.glif</string>
		<key>Eth</key>
		<string>E_th.glif</string>
		<key>Eth.sc</key>
		<string>E_th.sc.glif</string>
		<key>Euro</key>
		<string>E_uro.glif</string>
		<key>F.sc</key>
		<string>F_.sc.glif</string>
		<key>Fita.sc</key>
		<string>F_ita.sc.glif</string>
		<key>G.sc</key>
		<string>G_.sc.glif</string>
		<key>Gamma</key>
		<string>G_amma.glif</string>
		<key>Gamma.sc</key>
		<string>G_amma.sc.glif</string>
		<key>Ghe.sc</key>
		<string>G_he.sc.glif</string>
		<key>Ghestroke</key>
		<string>G_hestroke.glif</string>
		<key>Ghestroke.sc</key>
		<string>G_hestroke.sc.glif</string>
		<key>Ghook.sc</key>
		<string>G_hook.sc.glif</string>
		<key>Gstroke</key>
		<string>G_stroke.glif</string>
		<key>Gstroke.sc</key>
		<string>G_stroke.sc.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>H.sc</key>
		<string>H_.sc.glif</string>
		<key>Hard.sc</key>
		<string>H_ard.sc.glif</string>
		<key>Hbar</key>
		<string>H_bar.glif</string>
		<key>Hbar.sc</key>
		<string>H_bar.sc.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>I.a</key>
		<string>I_.a.glif</string>
		<key>I.as</key>
		<string>I_.as.glif</string>
		<key>I.sc</key>
		<string>I_.sc.glif</string>
		<key>Icyr</key>
		<string>I_cyr.glif</string>
		<key>Icyr.sc</key>
		<string>I_cyr.sc.glif</string>
		<key>Ieukran.sc</key>
		<string>I_eukran.sc.glif</string>
		<key>Istroke</key>
		<string>I_stroke.glif</string>
		<key>Istroke.a</key>
		<string>I_stroke.a.glif</string>
		<key>Istroke.as</key>
		<string>I_stroke.as.glif</string>
		<key>Istroke.sc</key>
		<string>I_stroke.sc.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>J.sc</key>
		<string>J_.sc.glif</string>
		<key>Jstroke</key>
		<string>J_stroke.glif</string>
		<key>Jstroke.sc</key>
		<string>J_stroke.sc.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>L.sc</key>
		<string>L_.sc.glif</string>
		<key>Lambda.latin</key>
		<string>L_ambda.latin.glif</string>
		<key>Lambda.ls</key>
		<string>L_ambda.ls.glif</string>
		<key>Lambdabar</key>
		<string>L_ambdabar.glif</string>
		<key>Lambdabar.sc</key>
		<string>L_ambdabar.sc.glif</string>
		<key>Lbar</key>
		<string>L_bar.glif</string>
		<key>Lbar.sc</key>
		<string>L_bar.sc.glif</string>
		<key>Lbardbl</key>
		<string>L_bardbl.glif</string>
		<key>Lbardbl.sc</key>
		<string>L_bardbl.sc.glif</string>
		<key>Lbelt</key>
		<string>L_belt.glif</string>
		<key>Lbelt.sc</key>
		<string>L_belt.sc.glif</string>
		<key>Lje.as</key>
		<string>L_je.as.glif</string>
		<key>Lje.sc</key>
		<string>L_je.sc.glif</string>
		<key>Lslash</key>
		<string>L_slash.glif</string>
		<key>Lslash.sc</key>
		<string>L_slash.sc.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>M.sc</key>
		<string>M_.sc.glif</string>
		<key>M.sups</key>
		<string>M_.sups.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>N.sc</key>
		<string>N_.sc.glif</string>
		<key>N.sups</key>
		<string>N_.sups.glif</string>
		<key>Nje.sc</key>
		<string>N_je.sc.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>O.sc</key>
		<string>O_.sc.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>Oslash.sc</key>
		<string>O_slash.sc.glif</string>
		<key>P.sc</key>
		<string>P_.sc.glif</string>
		<key>R.sc</key>
		<string>R_.sc.glif</string>
		<key>Schwa.sc</key>
		<string>S_chwa.sc.glif</string>
		<key>Soft.sc</key>
		<string>S_oft.sc.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>T.sc</key>
		<string>T_.sc.glif</string>
		<key>Tbar</key>
		<string>T_bar.glif</string>
		<key>Tbar.sc</key>
		<string>T_bar.sc.glif</string>
		<key>Theta.sc</key>
		<string>T_heta.sc.glif</string>
		<key>Tshe.sc</key>
		<string>T_she.sc.glif</string>
		<key>Tstroke</key>
		<string>T_stroke.glif</string>
		<key>Tstroke.sc</key>
		<string>T_stroke.sc.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>U.sc</key>
		<string>U_.sc.glif</string>
		<key>Ubar</key>
		<string>U_bar.glif</string>
		<key>Ubar.sc</key>
		<string>U_bar.sc.glif</string>
		<key>Ustraight</key>
		<string>U_straight.glif</string>
		<key>Ustraight.sc</key>
		<string>U_straight.sc.glif</string>
		<key>Ustraightstroke</key>
		<string>U_straightstroke.glif</string>
		<key>Ustraightstroke.sc</key>
		<string>U_straightstroke.sc.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>W.sc</key>
		<string>W_.sc.glif</string>
		<key>W.sups</key>
		<string>W_.sups.glif</string>
		<key>Xi.sc</key>
		<string>X_i.sc.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Y.sc</key>
		<string>Y_.sc.glif</string>
		<key>Ya.sc</key>
		<string>Y_a.sc.glif</string>
		<key>Yat.sc</key>
		<string>Y_at.sc.glif</string>
		<key>Yeru.sc</key>
		<string>Y_eru.sc.glif</string>
		<key>Ze.sc</key>
		<string>Z_e.sc.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>a.a</key>
		<string>a.a.glif</string>
		<key>a.b</key>
		<string>a.b.glif</string>
		<key>a.sups</key>
		<string>a.sups.glif</string>
		<key>ae</key>
		<string>ae.glif</string>
		<key>aogonek</key>
		<string>aogonek.glif</string>
		<key>aogonek.b</key>
		<string>aogonek.b.glif</string>
		<key>aogonek.d</key>
		<string>aogonek.d.glif</string>
		<key>aogonek.f</key>
		<string>aogonek.f.glif</string>
		<key>astroke</key>
		<string>astroke.glif</string>
		<key>astroke.a</key>
		<string>astroke.a.glif</string>
		<key>astroke.b</key>
		<string>astroke.b.glif</string>
		<key>at</key>
		<string>at.glif</string>
		<key>at.cap</key>
		<string>at.cap.glif</string>
		<key>aturned</key>
		<string>aturned.glif</string>
		<key>aturned.b</key>
		<string>aturned.b.glif</string>
		<key>beta.a</key>
		<string>beta.a.glif</string>
		<key>bstroke</key>
		<string>bstroke.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>ccurl</key>
		<string>ccurl.glif</string>
		<key>clickalveolar</key>
		<string>clickalveolar.glif</string>
		<key>clickbilabial</key>
		<string>clickbilabial.glif</string>
		<key>colonmonetary</key>
		<string>colonmonetary.glif</string>
		<key>cstroke</key>
		<string>cstroke.glif</string>
		<key>dcroat</key>
		<string>dcroat.glif</string>
		<key>dje</key>
		<string>dje.glif</string>
		<key>dong</key>
		<string>dong.glif</string>
		<key>dotlessi</key>
		<string>dotlessi.glif</string>
		<key>dotlessj</key>
		<string>dotlessj.glif</string>
		<key>dotlessjstroke</key>
		<string>dotlessjstroke.glif</string>
		<key>dotlessjstrokehook</key>
		<string>dotlessjstrokehook.glif</string>
		<key>dzcurl</key>
		<string>dzcurl.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>e.sups</key>
		<string>e.sups.glif</string>
		<key>ecyr</key>
		<string>ecyr.glif</string>
		<key>em</key>
		<string>em.glif</string>
		<key>eogonek</key>
		<string>eogonek.glif</string>
		<key>eogonek.d</key>
		<string>eogonek.d.glif</string>
		<key>eogonek.supd</key>
		<string>eogonek.supd.glif</string>
		<key>eogonek.sups</key>
		<string>eogonek.sups.glif</string>
		<key>eopen</key>
		<string>eopen.glif</string>
		<key>eopen.sups</key>
		<string>eopen.sups.glif</string>
		<key>eopenogonek</key>
		<string>eopenogonek.glif</string>
		<key>eopenreversed</key>
		<string>eopenreversed.glif</string>
		<key>eopenreversedclosed</key>
		<string>eopenreversedclosed.glif</string>
		<key>epsilon</key>
		<string>epsilon.glif</string>
		<key>ereversed</key>
		<string>ereversed.glif</string>
		<key>esh</key>
		<string>esh.glif</string>
		<key>eth</key>
		<string>eth.glif</string>
		<key>ghe</key>
		<string>ghe.glif</string>
		<key>ghestroke</key>
		<string>ghestroke.glif</string>
		<key>glottalstop</key>
		<string>glottalstop.glif</string>
		<key>glottalstopreversed</key>
		<string>glottalstopreversed.glif</string>
		<key>glottalstopstroke</key>
		<string>glottalstopstroke.glif</string>
		<key>glottalstopstrokereversed</key>
		<string>glottalstopstrokereversed.glif</string>
		<key>gscript</key>
		<string>gscript.glif</string>
		<key>gsmall</key>
		<string>gsmall.glif</string>
		<key>gstroke</key>
		<string>gstroke.glif</string>
		<key>hbar</key>
		<string>hbar.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>icyr</key>
		<string>icyr.glif</string>
		<key>ieukran</key>
		<string>ieukran.glif</string>
		<key>interrobang.sc</key>
		<string>interrobang.sc.glif</string>
		<key>interrobangdown.sc</key>
		<string>interrobangdown.sc.glif</string>
		<key>ismallstroke</key>
		<string>ismallstroke.glif</string>
		<key>istroke.x</key>
		<string>istroke.x.glif</string>
		<key>jcrossedtail.x</key>
		<string>jcrossedtail.x.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>l.a</key>
		<string>l.a.glif</string>
		<key>lambda.latin</key>
		<string>lambda.latin.glif</string>
		<key>lambdabar</key>
		<string>lambdabar.glif</string>
		<key>lbar</key>
		<string>lbar.glif</string>
		<key>lbar.a</key>
		<string>lbar.a.glif</string>
		<key>lbardbl</key>
		<string>lbardbl.glif</string>
		<key>lbardbl.a</key>
		<string>lbardbl.a.glif</string>
		<key>lbelt</key>
		<string>lbelt.glif</string>
		<key>lira</key>
		<string>lira.glif</string>
		<key>liraturkish</key>
		<string>liraturkish.glif</string>
		<key>lslash</key>
		<string>lslash.glif</string>
		<key>lslash.a</key>
		<string>lslash.a.glif</string>
		<key>naira</key>
		<string>naira.glif</string>
		<key>nsmall</key>
		<string>nsmall.glif</string>
		<key>nsmall.sups</key>
		<string>nsmall.sups.glif</string>
		<key>numbersign</key>
		<string>numbersign.glif</string>
		<key>numero</key>
		<string>numero.glif</string>
		<key>obar</key>
		<string>obar.glif</string>
		<key>oe</key>
		<string>oe.glif</string>
		<key>oesmall</key>
		<string>oesmall.glif</string>
		<key>oslash</key>
		<string>oslash.glif</string>
		<key>peso</key>
		<string>peso.glif</string>
		<key>rsmall</key>
		<string>rsmall.glif</string>
		<key>rsmallinverted</key>
		<string>rsmallinverted.glif</string>
		<key>ruble</key>
		<string>ruble.glif</string>
		<key>rupeeindian</key>
		<string>rupeeindian.glif</string>
		<key>schwa</key>
		<string>schwa.glif</string>
		<key>schwa.sups</key>
		<string>schwa.sups.glif</string>
		<key>schwahookrhotic</key>
		<string>schwahookrhotic.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>tbar</key>
		<string>tbar.glif</string>
		<key>tenge</key>
		<string>tenge.glif</string>
		<key>theta.a</key>
		<string>theta.a.glif</string>
		<key>tstroke</key>
		<string>tstroke.glif</string>
		<key>tugrik</key>
		<string>tugrik.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>ubar</key>
		<string>ubar.glif</string>
		<key>upsilonlatin</key>
		<string>upsilonlatin.glif</string>
		<key>upsilonstroke</key>
		<string>upsilonstroke.glif</string>
		<key>ustraight</key>
		<string>ustraight.glif</string>
		<key>ustraightstroke</key>
		<string>ustraightstroke.glif</string>
		<key>ve</key>
		<string>ve.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>won</key>
		<string>won.glif</string>
		<key>ya</key>
		<string>ya.glif</string>
		<key>yen</key>
		<string>yen.glif</string>
		<key>yi.a</key>
		<string>yi.a.glif</string>
		<key>zcurl</key>
		<string>zcurl.glif</string>
		<key>ze</key>
		<string>ze.glif</string>
		<key>zero.0ps</key>
		<string>zero.0ps.glif</string>
		<key>zero.0s</key>
		<string>zero.0s.glif</string>
	</dict>
</plist>
